/*.tile {
  color: white;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}*/
flipper {
  float: left;
  width: 150px;
  /*height: 250px;*/
  margin-right: 15px;
  display: block;
  -webkit-perspective: 1000;
          perspective: 1000;
}
/*flipper span {
  color: white;
}*/
flipper > div.flipper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
flipper > div.flipper .front,
flipper > div.flipper .back {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  transition: transform ease 500ms, -webkit-transform ease 500ms;
}
flipper > div.flipper .front {
  z-index: 2;
  /*background: #19489E;*/
  /* front tile styles go here! */
}
flipper > div.flipper .back {
  /*background: #9E1919;*/
  /* back tile styles go here! */
}
flipper[horizontal] .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
flipper[horizontal] .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
flipper[horizontal] div.flipper.flipped .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
flipper[horizontal] div.flipper.flipped .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
flipper[vertical] .front {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
flipper[vertical] .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
flipper[vertical] div.flipper.flipped .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
flipper[vertical] div.flipper.flipped .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
